
$font-primary: Helvetica Neue,Segoe UI,Helvetica,Verdana,sans-serif;
$font-button: Verdana, Geneva, Tahoma, sans-serif;

//font
$main-size :13px;

//color
$primary-color: #8fc31f;
$secondary-color: #ffa73c;
$other-color: #ffc107;
$danger-color: #dc3545;
$info-color: #17a2b8;
$premium-color: #fffdd2;
$nav-tabs-border-color:#efa422;
