{
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"plugins": ["react"],
	"settings": {
		"react": {
			"pragma": "React",
			"version": "detect"
		}
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"jest": true,
		"jasmine": true
	},
	"rules": {
		"brace-style": 2,
		"constructor-super": 1,
		"keyword-spacing": 1,
		"max-depth": [2, 4],
		"max-len": [
			1,
			80,
			2,
			{
				"ignorePattern": "^(import\\s.+\\sfrom\\s.+;)|(export const\\s.+)$",
				"ignoreUrls": true
			}
		],
		"max-statements": [2, 20],
		"no-debugger": 2,
		"no-extra-semi": 2,
		"no-this-before-super": 1,
		"no-magic-numbers": [
			2,
			{
				"ignoreArrayIndexes": true,
				"ignore": [-1, 0]
			}
		],
		"no-var": 2,
		"no-warning-comments": 2,
		"no-undef": 1,
		"no-undefined": 2,
		"no-unreachable": 1,
		"no-unused-expressions": 1,
		"no-unused-vars": 2,
		"no-useless-constructor": 2,
		"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
		"prefer-const": [
			2,
			{
				"destructuring": "all",
				"ignoreReadBeforeAssign": true
			}
		],
		"react/display-name": 0,
		"react/no-unescaped-entities": 2,
		"react/prop-types": 1,
		"semi": ["off", "always"],
		"space-before-function-paren": [
			1,
			{
				"anonymous": "always",
				"named": "never",
				"asyncArrow": "ignore"
			}
		],
		"spaced-comment": [2, "always"],
		"valid-jsdoc": [
			1,
			{
				"requireParamDescription": false,
				"requireReturn": false,
				"requireReturnDescription": false,
				"requireReturnType": false
			}
		],
		"valid-typeof": 1,
		"vars-on-top": 2
	}
}
